.header {
    width: 100%;
    border-radius: 15px 15px 3px 3px;
    /*background-color: lightSkyBlue;*/
    display: grid;
    grid-template-areas: "boofer logotype login";
    grid-template-columns: 1fr 3fr 1fr;
    vertical-align: center;
}
.headerN {background-color: midnightblue;   transition: 5000ms; }
.headerM {background-color: #fff5cf;        transition: 5000ms; }
.headerD {background-color: lightskyblue;   transition: 5000ms; }
.headerE {background-color: darkred;        transition: 5000ms; }

.buffer {
    grid-area: boofer;
}

.logotype {
    grid-area: logotype;
    display: flex;
    /*width: 70%;*/
    /*justify-content: center;*/
    margin: 0 auto;

    /*grid-template-columns: 2fr 3fr;*/

    padding-top: 10px;
}

.logotype img {
    border-radius: 230px 230px 20px 20px;
    width: 80px;
    height: 80px;
}

.logotype h1 {
    width: 280px;
    /*color: white;*/
    /*color: lightyellow;*/
    text-align: center;
}
.logoTypeH1N {color: lightyellow; transition: 5000ms; }
.logoTypeH1M {color: black;       transition: 5000ms; }
.logoTypeH1D {color: white;       transition: 5000ms; }
.logoTypeH1E {color: lightyellow; transition: 5000ms; }

.login {
    grid-area: login;
    /*margin: 45px auto 0 auto;*/
    margin-top: 45px;
}

.logOutBTN {
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}

.logOutBTN img {
    width: 30px;
    /*height: 30px;*/
}

.loginTrue {
    display: flex;
    justify-content: center;
    height: 30px;
}

.loginTrue img {
    width: 30px;
    cursor: pointer;
    /*height: 30px;*/
}

.login h4  {
    text-align: center;
    margin: 0 15px 0  0;
}
.loginH4N {color: lightyellow;  transition: 5000ms;  }
.loginH4M {color: black;        transition: 5000ms;  }
.loginH4D {color: white;        transition: 5000ms;  }
.loginH4E {color: lightyellow;  transition: 5000ms;  }


.loginHref {
    text-align: center;
    margin: 0;
}
.loginHrefN  {color: lightyellow; transition: 5000ms; }
.loginHrefM  {color: black;       transition: 5000ms; }
.loginHrefD  {color: white;       transition: 5000ms; }
.loginHrefE  {color: lightyellow; transition: 5000ms; }


.login a {
    text-decoration: none;
}